@font-face {
  font-family: 'Comfortaa';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Comfortaa-Medium.woff2') format('woff2'),
       url('../fonts/Comfortaa-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'KellySlab';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/KellySlab-Regular.woff2') format('woff2'),
       url('../fonts/KellySlab-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Philosopher';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Philosopher-Bold.woff2') format('woff2'),
       url('../fonts/Philosopher-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Philosopher';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Philosopher-Regular.woff2') format('woff2'),
       url('../fonts/Philosopher-Regular.woff') format('woff');
  font-display: swap;
}