.partners {
  background-color: $mainBgColor;
  padding-bottom: 0;

  &__title {
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include adaptiveValue("gap", 30, 15);

    li {
      img {
        @media (max-width:$mobile){
          width: 90px;
          height: 40px;
        }
      }
    }
  }
}